$black: #131313;
$black-bg: #13131360;
$white: #ffffff;
$bg: #f6f5fa;

$light-stroke: #c6c6c6;
$light-grey: #ECEBF1;
$stroke: #ecebf1;
$dark-grey: #a3a9b5;
$strong-grey: #5d6069;
$dark-stroke: #A3A9B5;
$alter-gray:#272727;

$red: #da444c;
$clicked-red: #BF353D;
$blue: #4285F4;

$warning: #fff3cd