@use "fonts-main.scss";
@use "iconsfont.scss";
@use "animations.scss";
@use "checkbox.scss";
@use "colors.scss" as *;

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Gilroy";
  font-size:  calc(62.5%)
}

body {
  background: #f6f5fa;
}

// div {
//   &::-webkit-scrollbar {
//     width: 3px;
//     border-radius: 15px;
//   }

//   &::-webkit-scrollbar-track {
//   }

//   &::-webkit-scrollbar-thumb {
//     background-color: $dark-grey;
//     transform: translateX(-5px);
//     box-shadow: inset 0 0 1px $dark-grey;
//     border-radius: 15px;
//   }
// }

p,
h1,
button {
  margin: 0;
  padding: 0;
  font-family: "Gilroy";
}

button {
  outline: none;
  cursor: pointer;
  font-size: 1.4rem;
  &:focus {
    outline: none;
  }
}

h1 {
  font-size: 1.8rem;
  font-weight: 600;
}

h3{
   font-size: 1.6rem;
    font-weight: 600;
}

input {
  margin: 0;
  bottom: 0;
  font-family: "Gilroy";
  border: none;
  background-color: $bg;
  border-radius: 15px;

  &:focus {
    outline: none;
  }
}

select {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 15px;
  outline: none;
  border: 1px solid $light-stroke;
  background-color: $stroke;
}

a {
  color: #000000;
  text-decoration: none;
}

p {
  &.text-grey {
    color: $dark-grey;
  }
}

.menu__close {
  position: absolute;
  right: 15px;
  top: 19px;
  cursor: pointer;
}

.popup__close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.light-radial__button {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $dark-grey;
  border-radius: 360px;
  background: none;
  transition: 0.2s;
  cursor: pointer;

  transition-property: border-color;
  transition-duration: 0.25s;
  transition-timing-function: ease;

  svg {
    path {
      transition: 0.2s;
    }
  }

  @media (hover: hover) {
    &:hover {
      border-color: $strong-grey;
      svg {
        path {
          fill: $strong-grey;
        }
      }
    }
  }

  &.router-link-active {
    border: 1px solid #000000;

    svg {
      path {
        fill: #000000;
      }
    }
  }
}

.black-radial__button {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 360px;
  background: #000000;
  cursor: pointer;
}

.grey-radial__button {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 360px;
  background: $stroke;
  cursor: pointer;

  &.bask {
    width: 42px;
    height: 42px;
  }
  svg {
    path {
      fill: $strong-grey;
    }

    g {
      path {
        transition-property: fill;
        transition-duration: 0.3s;
        transition-timing-function: ease;
        fill: $strong-grey;
      }
    }
  }

  @media (hover: hover) {
    &:hover {
      svg {
        path {
          fill: #000000;
        }

        g {
          path {
            fill: #000000;
          }
        }
      }
    }
  }
}



.button {
  &__rounded {
    padding: 25px;
    background-color: transparent;
    border: 1px solid $dark-grey;
    border-radius: 100px;
    color: $strong-grey;
    text-align: center;
    transition-property: color, border-color;
    transition-duration: 0.25s;
    transition-timing-function: ease;

    @media (hover: hover) {
      &:hover {
        color: #000000;
        background-color: transparent;
        border-color: #000000;
      }
    }
  }
  &__filled {
    padding: 25px;
    color: $strong-grey;
    border: none;
    border-radius: 100px;
    background-color: $bg;
    transition-property: color, border-color, background-color;
    transition-duration: 0.25s;
    transition-timing-function: ease;

    &--text {
      max-height: 50px;
      height: 100%;
      padding: 25px;
      line-height: 0;
    }

    &.active {
      color: $white;
      background-color: black;
    }

    @media (hover: hover) {
      &:hover {
        color: $white;
        background-color: black;
      }
    }
  }
}

.icon {
  position: relative;
  font-size: 15px;
  &::before {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
  }
}

.right-menu__svg {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: $stroke;
  border-radius: 360px;
  cursor: pointer;

  &.active {
    background-color: $red;

    svg {
      path {
        fill: $white;
      }

      g {
        path {
          fill: $white;
        }
      }
    }
  }
}

.right-menu__button {
  width: 50px;
  height: 50px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: $stroke;
  border: 2px solid $white;
  border-radius: 360px;
  cursor: pointer;
  transition: 0.05s;

  &:focus {
    outline: none;
  }
  svg {
    path {
      fill: $strong-grey;
    }

    g {
      path {
        transition-property: fill;
        transition-duration: 0.3s;
        transition-timing-function: ease;
        fill: $strong-grey;
      }
    }
  }

  &.active {
    background-color: $red;

    svg {
      path {
        fill: $white;
      }

      g {
        path {
          fill: $white;
        }
      }
    }

    &:active {
      background-color: $clicked-red;
    }
  }
  @media (hover: hover) {
    &:hover {
      svg {
        path {
          fill: $white;
        }

        g {
          path {
            fill: $white;
          }
        }
      }
    }
  }
}

.toast{
  font-size: 1.4rem;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.6);
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}
