.toggle-container:focus {
  box-shadow: none;
}

.toggle-off{
    background:#ffffff
}

.toggle-handle-on {
  background-color: #5d6069 !important;
}
.toggle-handle {
  &-on {
    background: #ffffff !important;
  }
    &-off {
    background: #5d6069 !important;
  }
  
}

.toggle{
  width: 4rem;
  height: 2rem;
}
